<div class="education">
    <h2 class="white">Education</h2>
    <div class="education-content">
        <h4 class="education-title accent">New Web Design</h4>
        <div class="education-school">
            <h5>School of Media</h5><span></span>
            <h5>2030 January - 2034 December</h5>
        </div>
        <p class="education-description">In lacinia leo sed quam feugiat, ac efficitur dui tristique. Ut venenatis, odio quis cursus egestas, nulla sem volutpat diam, ac dapibus nisl ipsum ut ipsum. Nunc tincidunt libero non magna placerat elementum.</p>
    </div>
</div>